#wrapper{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: "header header header"   
                        "main main main"
                    "image image image "                    "footer footer footer";
}
}
#header{
    grid-area: header;
}
#image{
    grid-area: image;
}
#h1{
    grid-area: main;
}   

#footer{
    grid-area: footer;
}
body{
    background-color: beige;
    color: Black;
    text-decoration-color:saddlebrown;
}
h1 {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color:black;
}
ul{
    font-size: 25px;
}